 
/* 
SASS Base
Author: Tomas Roy
Written for MiniCreative sites
*/

// Resets & Basic Classes
div {box-sizing:border-box;}
.end {margin-right:0px;}
img {border:0; max-width:100%;}
a {color:inherit;}
.clear {clear:both;}

// SASS Plugins
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}

// Size Variables
$pad: 30px;
$pad_: 20px;

$max_container: 1040px;
$large_container: 960px;
$medium_container: 720px;
$small_container: 100%;

// Size Includes
@mixin row {
	margin-top:$pad; 
	@include breakpoint(m) {margin-top:$pad_;}
}

// Mobile Responsiveness
@mixin breakpoint($point) {
	@if $point == l {
		@media screen and (max-width: 1110px) {@content;}
	}
	@else if $point == m {
		@media screen and (max-width: 1020px)  {@content;}
	}
	@else if $point == s {
		@media screen and (max-width: 760px)  {@content;}
	}
	@else if $point == xs {
		@media screen and (max-width: 400px)  {@content;}
	}
}

// Color Variables
$primary: #847040;
$primary_: #665631;
$subtle:#eee;
$subtle_:#e5e5e5;

// Page Design
body {background:#fff;}
html, body {margin:0px; padding:0px;}

// Fonts
body, h1, h2, h3, h4, h5 {font-family:Arial; color:#222;}
body {line-height:1.5; font-weight:300;}
h1, h2, h3, h4, h5 {margin:0px; line-height:1.4;}
body {font-size:16px;}
h1 {font-size:26px;}
h2 {font-size:22px;}
h3 {font-size:14px;}

// Layout Styles ======================================================
.section {
	width:100%;
}

.container {
	width: $max_container; margin:0px auto;
	@include breakpoint(l) {width:$large_container;}
	@include breakpoint(m) {width:$medium_container;}
	@include breakpoint(s) {width:$small_container; padding:0px $pad_;}
}

// Module Styles ======================================================

// Site Styles ========================================================
header {
	padding:20px 0px;
	border-bottom:1px solid #999;
	.logo {
		float:left; height:80px;
		img {height:100%;}
	}
	.navigation {
		display:block;
		text-align:right;
		ul {display:block; margin:0px; padding:0px;}
		> ul > li  {
			display:inline-block; position:relative; margin-left:20px;
			&:hover {
				.sub-menu {display:block;}
			}
		}
		ul.sub-menu {
			display:none; // Hide until hover
			position:absolute; top:100%; left:0px; width:100%; 
			text-align:left;
			> li {display:inline-block;}
		}
	}
}

footer {
	padding:20px;
	border-top:1px solid #999;
}

.content {
	padding:30px;
}