 
/* 
SASS Base
Author: Tomas Roy
Written for MiniCreative sites
*/

// Variable Defaults
$pad: 30px !default;
$pad_: 20px !default;

$max_trigger: 1100px !default;
$max_container: 1040px !default;

$header: 60px !default;
$headerPad: $pad !default;

// SASS Plugins
@mixin box-shadow($shadow) {-moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; box-shadow: $shadow;}
@mixin border-radius($radius) {-webkit-border-radius: $radius; border-radius: $radius; background-clip: padding-box;}

// Resets & Basic Classes
html, body {margin:0px; padding:0px;}
h1, h2, h3 {margin:0px; color:inherit; font-family:inherit;}
div {box-sizing:border-box;}
.end {margin-right:0px;}
img {border:0; max-width:100%;}
a {color:inherit; text-decoration:none;}
.clear {clear:both;}

// Size Includes
@mixin row {
	margin-top:$pad; 
	@include breakpoint(m) {margin-top:$pad_;}
}
@mixin container_pad {
	padding-bottom:$pad;
	@include breakpoint(m) {margin-top:$pad_;}
}

// Mobile Responsiveness
@mixin breakpoint($point) {
	@if $point == l {
		@media screen and (max-width: $max-trigger) {@content;}
	}
	@else if $point == m {
		@media screen and (max-width: 1020px)  {@content;}
	}
	@else if $point == s {
		@media screen and (max-width: 760px)  {@content;}
	}
	@else if $point == xs {
		@media screen and (max-width: 480px)  {@content;}
	}
}

// Page Design
body {background:#fff;}

// Fonts
body {
	font-family:Arial; 
	font-size:16px;
	color:#222;
	line-height:1.4;
}
h1 {font-size:24px;}
h2 {font-size:20px;}
h3 {font-size:18px;}

// Reusable Styles ====================================================
.columns {
	.column {
		display:inline-block; vertical-align:top;
	}
}

// Layout Styles ======================================================
.container {
	width: $max_container; margin:0px auto;
	@include breakpoint(l) {width:960px;}
	@include breakpoint(m) {width:720px;}
	@include breakpoint(s) {width:480px; padding:0px $pad_;}
	@include breakpoint(xs) {width:100%;}
}

header {

	padding:$headerPad 0px;
	
	.logo {
		float:left; height:$header;
		img {height:100%;}
	}

	.navigation {
		display:block; text-align:right;
		ul {display:block; margin:0px; padding:0px;} // Reset lists

		// Top-Level Links
		> ul > li  {
			display:inline-block; position:relative;

			// Show dropdown menus on hover
			&:hover .sub-menu {display:block;}
		}

		// Dropdown Menus
		ul.sub-menu {
			display:none; // Hide dropdown menus until hover
			position:absolute; top:100%; left:0px; width:100%; text-align:left;

			// Dropdown Links
			> li {display:block;}
		}
	}
}