# Ignore all files in / but include directories
*

# Include basic / files
!.gitignore
!package.json
!README.md
!yarn-error.log
!yarn.lock

# Ignore specific directories
node_modules
pw_site

# Mac OS X Ignores
.DS_Store
